
# Python/build caches
*.log
*.rbxm
*.zip
.DS_Store
.cache/
.env
.env.local
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.sudo_as_admin_successful
.vscode/
Thumbs.db
__pycache__/
backend/node_modules
node_modules/
uploads/
